[packages]
torch = "1.7"
torchvision = "1.7"
tqdm = "*"
Pillow = "*"
pytorch_ssim = { git = "http://github.com/Po-Hsun-Su/pytorch-ssim.git" }
pandas = "1.2"
tensorboard = "2.4"
lpips = "0.1"
torch-fidelity = "0.2"
ninja = "1.10"
[dev-packages]
